.help-enter {
	opacity: 0;
	transform: translateX(100%);
}

.help-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.help-exit {
	opacity: 1;
}

.help-exit-active {
	transform: translateX(100%);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.pin-help-desc {
	font-weight: bolder;
	margin-top: 0;
}

.pin-help-modal {
	background: black;
	position: absolute;
	bottom: 5rem;
	color: white;
	right: 1rem;
	padding: 1rem;
	width: 25%;
	pointer-events: initial;
	border-radius: 0.5rem;
}

.pin-help-list {
	padding-left: 1rem;
	margin-bottom: 0;
}

.button-help:disabled {
	background: #7b7b7b;
}
