.loader-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10000;
	pointer-events: none;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(350deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader-circle {
	/* temporary */
	width: 75px;
	/*
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	*/
}
