.help-enter {
	opacity: 0;
	transform: translateX(100%);
}

.help-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.help-exit {
	opacity: 1;
}

.help-exit-active {
	transform: translateX(100%);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.pin-help-modal {
	background: black;
	position: absolute;
	bottom: 5rem;
	color: white;
	right: 1rem;
	padding: 1rem;
	width: 25%;
	pointer-events: initial;
	border-radius: 0.5rem;
}

.pin-help-list {
	padding-left: 1rem;
}

.pin-help-instr {
}

.pin-info-image {
	max-height: 20rem;
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
}

.pin-info-image > img {
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	height: auto;
}

.pin-info-popup {
	position: absolute;
	right: 8%;
	padding: 0;
	min-width: 25%;
	max-width: 35%;
	height: auto;
	background: white;
	border-radius: 1rem;
	top: 2rem;

	z-index: 99999;
	animation-duration: 0.5s;
	animation-name: pin-info-enter;
	pointer-events: initial;

	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes pin-info-enter {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}

.pin-info-content {
	padding: 1rem;
}

.pin-info-text {
	text-align: center;
}

.centered-button-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin: 1rem 0;
}

.button-confirm {
	background: #1da61d;
}

.city-state-header {
	word-wrap: break-word;
	margin-bottom: 0;
}

.country-header {
	margin-top: 0;
}

.button-help:disabled {
	background: #7b7b7b;
}
