.pin-help-modal {
	background: black;
	position: absolute;
	bottom: 5rem;
	color: white;
	right: 1rem;
	padding: 1rem;
	width: 25%;
	pointer-events: initial;
}

.pin-help-list {
	padding-left: 1rem;
}

.pin-help-instr {
}

.pin-info-image {
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
	background-position: bottom;
}

.pin-info-popup {
	position: absolute;
	right: 10%;
	padding: 0;
	min-width: 25%;
	max-width: 35%;
	height: auto;
	background: white;
	border-radius: 1rem;
	top: 2rem;

	z-index: 99999;
	animation-duration: 1s;
	animation-name: pin-info-enter;
	pointer-events: initial;

	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes pin-info-enter {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}

.pin-info-content {
	padding: 1rem;
}

.confirmation-button-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin: 1rem 0;
}

.button-confirm {
	background: #1da61d;
}

.city-state-header {
	word-wrap: break-word;
	margin-bottom: 0;
}

.country-header {
	margin-top: 0;
}

.button-help:disabled {
	background: #7b7b7b;
}
