.default-overlay {
	pointer-events: none;
	background: linear-gradient(#000, rgba(0, 0, 0, 0));
}

@keyframes donate-animation {
	from {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
	to {
		box-shadow: 0 0 5px 2px rgba(255, 255, 255, 1);
	}
}

.button-donate {
	background-color: #1da61d;
	animation-name: donate-animation;
	animation-duration: 1.25s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	animation-direction: alternate;
}

.button-donate:hover {
	background-color: #0c8c0c;
}

.donate-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9999;
	pointer-events: initial;
	display: flex;
	justify-content: center;
	align-items: center;
}

.donate-container {
	background: white;
	border-radius: 1rem;
	animation-duration: 0.5s;
	animation-name: donate-enter;
	max-width: 40%;
}

.popup-title-container {
	background-color: dodgerblue;
	color: white;
	width: 100%;
	text-align: center;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 0.75rem 0;
}

.popup-title-container > h1 {
	margin: 0;
}

.popup-body {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.popup-body > p {
	margin-top: 0;
	font-size: 1rem;
}

@keyframes donate-enter {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}

.drop-pin-cta {
	color: white;
	text-align: center;
	position: absolute;
	bottom: 1rem;
	left: 25%;
	right: 25%;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.header-visitors {
	color: white;
	margin: 0;
	padding-top: 1rem;
	font-size: 3rem;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	font-weight: 900;
}

.header-visitors:last-of-type {
	color: white;
	padding: 0;
}

.visitor-substats {
	color: white;
	margin: 0;
	font-size: 2rem;
	font-weight: 400;
}

.bottom-cta {
	position: absolute;
	width: 100%;
	bottom: 1rem;
}

.bottom-cta .header-visitors {
	text-align: center;
}

.button-top-left {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 999;
}

.button-container {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	display: flex;
	flex-direction: column;
}

.button-container .button:last-of-type {
	margin-top: 1rem;
}

.default-overlay-top-animate-enter {
	opacity: 0;
}
.default-overlay-top-animate-enter-active {
	opacity: 1;
	transform: initial;
	transition: opacity 300ms, transform 300ms;
}
.default-overlay-top-animate-exit {
	opacity: 1;
}
.default-overlay-top-animate-exit-active {
	opacity: 0;
	transform: translateY(-150%);
	transition: opacity 300ms, transform 300ms;
}

.default-overlay-bottom-animate-enter {
	opacity: 0;
}
.default-overlay-bottom-animate-enter-active {
	opacity: 1;
	transform: initial;
	transition: opacity 300ms, transform 300ms;
}
.default-overlay-bottom-animate-exit {
	opacity: 1;
}
.default-overlay-bottom-animate-exit-active {
	opacity: 0;
	transform: translateY(150%);
	transition: opacity 300ms, transform 300ms;
}
