.survey-prompt-animate-enter {
	opacity: 0;
}
.survey-prompt-animate-enter-active {
	opacity: 1;
	transform: initial;
	transition: opacity 300ms, transform 300ms;
}
.survey-prompt-animate-exit {
	opacity: 1;
}
.survey-prompt-animate-exit-active {
	opacity: 0;
	transform: translateX(50%);
	transition: opacity 300ms, transform 300ms;
}

.distance-animate-enter {
	opacity: 0;
}
.distance-animate-enter-active {
	opacity: 1;
	transform: initial;
	transition: opacity 300ms, transform 300ms;
}
.distance-animate-exit {
	opacity: 1;
}
.distance-animate-exit-active {
	opacity: 0;
	transform: translateX(50%);
	transition: opacity 300ms, transform 300ms;
}
