@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800,900|Open+Sans:400,700&display=swap');

.page {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}
.page > * {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.globe-container {
	cursor: pointer;
	pointer-events: initial;
}

.fullscreen-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.bigstats {
	text-align: right;
	color: white;
	font-weight: bold;
	padding-right: 1rem;
}

.pin-drop-overlay {
	pointer-events: none;
}

.button {
	border: none;
	padding: 0.5rem 1rem;
	background: black;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 0.5rem;
	pointer-events: initial;
	font-size: 2rem;
	transition: 0.1s ease-in all;
	min-width: 10rem;

	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button:hover:enabled {
	background-color: #2d2d2d;
	transition: 0.15s ease-in all;
}

.button-next {
	background: dodgerblue;
}

.button-next:hover:enabled {
	background: #0e64b7;
}

.button-cancel {
	background-color: #8e8e8e;
}

.button:disabled {
	background-color: grey;
}

.button-pin-drop-cancel {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}

.button-bottom-right {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.button-help {
	background-color: #134c80;
}

.button-transparent {
	background: rgba(255, 255, 255, 0.5);
}

.button-transparent:hover,
.button-transparent:active {
	background: rgba(255, 255, 255, 0.25);
}

/* type */
.header-1 {
	color: #1c99f7;
	font-weight: 800;
	margin: 0;
	font-size: 2.5rem;
}

.header-2 {
	color: #88caff;
	font-weight: 900;
	margin: 0;
	font-size: 2rem;
}

.header-2.dark {
	color: #1c99f7;
}

.progressBar {
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	width: 100%;
	overflow: hidden;
}
